body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #4b0202;
}

#current-time {
    font-size: 2em;
    color: #ff0095;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #73ff00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}